@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  padding: 0;
  margin: 0;
}
.App {
  font-family: "Montserrat", sans-serif;
}

.navbar {
  background-color: rgba(1, 2, 45, 0.824);
}

.section-hero {
  height: 100vh;
  background-image: url(./img/herobg/hero_bg_kolkata_purple.jpg);
  background-size: cover;
  background-position: bottom;
}
.section-hero .text-box {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: aliceblue;
  max-width: 400px;
  padding-top: 200px;
  margin-left: 140px;
  text-shadow: 4px 4px 4px #000000;
}
.section-hero h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0px;
}

.section-hero h2 {
  margin: 0;
  padding: 0;
  opacity: 0.8;
  letter-spacing: 0px;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.section-hero p {
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 20px;
  font-weight: 300;
}

.partners {
  max-width: 92%;
  background-color: rgb(255, 255, 255);
  min-height: 100px;
  border-radius: 10px;
  margin: auto;
  transform: translateY(-50%);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.nav-items {
  font-weight: 500;
  color: #fff !important;
}

.section-genre {
  padding: 120px 0;
  background-color: rgb(179, 185, 254);
  /* margin-top: -100px; */
  text-align: center;
}

.main-heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  color: #333;
  text-transform: capitalize;
  font-size: 4rem;
  line-height: 4rem;
  margin-bottom: 40px;
  margin-top: 20px;
}
.section-genre .site-container {
  display: flex;
  flex-wrap: wrap;
}

.site-container {
  max-width: 92%;
  margin: auto;
  /* border: 2px solid green; */
}

.genre-card {
  /* width: 50%; */
  border-radius: 2%;
  height: 472px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}
.genre-card:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.genre-card .text-box {
  padding: 16px 0px;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.genre-card .text-box h3 {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.297);
  text-transform: uppercase;
}

.genre-card .gradient {
  border-radius: 2%;
  background-color: rgba(0, 0, 0, 0.653);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}
.genre-card .gradient:hover {
  background-color: rgba(0, 0, 0, 0);
}
.section-new-release {
  margin-bottom: 40px;
}

/* Arrow modification of the Carousel */
.slick-next:before,
.slick-prev:before {
  display: none;
  font-size: 40px;
  line-height: 1;
  opacity: 0.75;
  color: rgba(0, 0, 0, 0.55);
}
/* Arrow modification of the Carousel Ends */

.card-new-release {
  /* border: 6px solid red; */

  width: 100%;
  margin-bottom: 20px;
}

.new-release {
  border-radius: 16px;
  /* overflow: hidden; */
}
.about-us {
  background: url(./img/aboutUsBg.jpg);
  background-size: cover;
  background-position: center;
  height: 70vh;
}
.about-us .title1 {
  text-shadow: 4px 4px 8px #000000;
  font-size: 120px;
  font-weight: 700;
  color: #ffffff !important;
}
.body-copy {
  font-size: 24px;
  line-height: 46px;
  color: #555;
  padding: 40px;
}
.body-copy span {
  font-size: 40px;
  font-weight: 900;
  color: #2e67e4;
}
